/* Sidebar */
.navbar-custom {
    background-color: #104677 !important; /* Define a cor personalizada */
}
.btn-custom {
    background-color: #104677 !important; /* Define a cor personalizada */
}


#sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    color: white;
    padding-top: 1rem;
    transition: width 0.3s;
    width: 250px;
    z-index: 1;
}
#sidebar.collapsed {
    width: 80px;
}
#sidebar .nav-link {
    color: white;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
}
#sidebar .nav-link i {
    margin-right: 10px;
    transition: margin-right 0.3s;
}
#sidebar.collapsed .nav-link span {
    display: none;
}
#sidebar.collapsed .nav-link i {
    margin-right: 0;
}
#sidebar.collapsed .navbar-brand {
    display: none;
}

/* Content */
#content {
    margin-left: 250px;
    transition: margin-left 0.3s;
}
#content.collapsed {
    margin-left: 80px;
}

/* Responsiveness */
@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 0;
    }
    #sidebar.collapsed {
        width: 100%;
    }
    #content {
        margin-left: 0;
    }
    #content.collapsed {
        margin-left: 0;
    }
}


/* styles.css */

.fixed-image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 170px; /* Defina o tamanho desejado */
    height: auto;
    z-index: 1000; /* Para garantir que a imagem esteja acima de outros elementos */
    opacity: 0.8; /* Transparência opcional */
}

.fixed-image:hover {
    opacity: 1; /* Aumenta a opacidade ao passar o mouse */
}

/* styles.css */

.top-banner {
    width: 100%;
    height: auto; /* Defina a altura desejada */
    overflow: hidden;
    background-color: #f8f9fa; /* Cor de fundo, caso a imagem não carregue */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.banner-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta a imagem ao espaço do banner */
}
